### Set methods
-  a well defined collection of object/data elements
- {}
- mutable in nature
- eleminates the duplicate objects

- **set methods**
    - union()
    - intersection()
    - difference()
    - pop()
    - remove()
    - subset()
    - superset()
    - disjoint() etc.

In [1]:
s={1,3,6,'Hi','hello','course',90.34,1,6}
s

{1, 3, 6, 90.34, 'Hi', 'course', 'hello'}

In [2]:
other={1,'hello',90.34,'new'}
other

{1, 90.34, 'hello', 'new'}

In [5]:
s.union(other) # which combines both the sets

{1, 3, 6, 90.34, 'Hi', 'course', 'hello', 'new'}

In [6]:
s

{1, 3, 6, 90.34, 'Hi', 'course', 'hello'}

In [7]:
s.intersection(other) # common elements present in both sets

{1, 90.34, 'hello'}

In [8]:
s.difference(other)

{3, 6, 'Hi', 'course'}

In [9]:
s-other #

{3, 6, 'Hi', 'course'}

In [10]:
s.pop() # removes the last object from set

1

In [11]:
s

{3, 6, 90.34, 'Hi', 'course', 'hello'}

In [12]:
s.remove('course') # removes the perticular element

In [13]:
s

{3, 6, 90.34, 'Hi', 'hello'}

In [14]:
s.update('new data')
# n e w d a t a

In [15]:
s

{' ', 3, 6, 90.34, 'Hi', 'a', 'd', 'e', 'hello', 'n', 't', 'w'}

In [18]:
s.update('19')

In [19]:
s

{' ', '1', 3, 6, '9', 90.34, 'Hi', 'a', 'd', 'e', 'hello', 'n', 't', 'w'}

In [20]:
s.union(other) # iterable

{' ',
 1,
 '1',
 3,
 6,
 '9',
 90.34,
 'Hi',
 'a',
 'd',
 'e',
 'hello',
 'n',
 'new',
 't',
 'w'}

In [21]:
s.intersection(other)

{90.34, 'hello'}

In [22]:
s.update(other)

In [23]:
s

{' ',
 1,
 '1',
 3,
 6,
 '9',
 90.34,
 'Hi',
 'a',
 'd',
 'e',
 'hello',
 'n',
 'new',
 't',
 'w'}

In [24]:
other

{1, 90.34, 'hello', 'new'}

In [25]:
s

{' ',
 1,
 '1',
 3,
 6,
 '9',
 90.34,
 'Hi',
 'a',
 'd',
 'e',
 'hello',
 'n',
 'new',
 't',
 'w'}

In [26]:
new={12,34,'hello',90,'hi'}
new

{12, 34, 90, 'hello', 'hi'}

In [27]:
other

{1, 90.34, 'hello', 'new'}

In [28]:
new.update(other)

In [29]:
new

{1, 12, 34, 90, 90.34, 'hello', 'hi', 'new'}

In [30]:
new.update('new') # iterable--3 chrs

In [31]:
new

{1, 12, 34, 90, 90.34, 'e', 'hello', 'hi', 'n', 'new', 'w'}

In [32]:
other.issubset(new)

True

In [33]:
new.issuperset(other)

True

In [34]:
other.isdisjoint(new) # no common elements

False

### Dictionary
- mostly useful in realtime applications
- key and value pair data structure
- search word:result word
- keys are unique in nature
- keys may be any datatype-->int/float/str
- value can be any data structure-->list/tuple/str/set 
- (key,value) together called an item in the dictionary
- mutable in nature
- represented by {key:value}

In [35]:
dic={'key1':'python',12:24,90:'online course','abc':123}
dic

{'key1': 'python', 12: 24, 90: 'online course', 'abc': 123}

In [36]:
for item in dic:
    print(item)

key1
12
90
abc

In [37]:
# values from the dict
dic.values()

dict_values(['python', 24, 'online course', 123])

In [38]:
print(dic.keys()) # list of keys

dict_keys(['key1', 12, 90, 'abc'])

In [39]:
# (key,value)
for item in dic.items():
    print(item)

('key1', 'python')
(12, 24)
(90, 'online course')
('abc', 123)

In [40]:
dic.items()

dict_items([('key1', 'python'), (12, 24), (90, 'online course'), ('abc', 123)])

In [41]:
key1:value1
key2:value2
key3:value3
...keyn:valuen

SyntaxError: invalid syntax (<ipython-input-41-22a27ca0e0a4>, line 4)

In [42]:
dic.items()

dict_items([('key1', 'python'), (12, 24), (90, 'online course'), ('abc', 123)])

In [44]:
for key,val in dic.items():
    print(key,val,sep=":")

key1:python
12:24
90:online course
abc:123

In [45]:
# keys are unique
dic['key1']

'python'

In [46]:
st='ruthu'
st[0]

'r'

In [47]:
st[1]

'u'

In [48]:
dic['key1']

'python'

In [49]:
dic['new']='new data' # addition

In [50]:
dic

{'key1': 'python', 12: 24, 90: 'online course', 'abc': 123, 'new': 'new data'}

In [51]:
dic['key1']='java' # updation

In [52]:
dic

{'key1': 'java', 12: 24, 90: 'online course', 'abc': 123, 'new': 'new data'}

In [53]:
dic.pop(12)

24

In [54]:
dic

{'key1': 'java', 90: 'online course', 'abc': 123, 'new': 'new data'}

In [55]:
dic.popitem() # last item will be removed

('new', 'new data')

In [56]:
dic

{'key1': 'java', 90: 'online course', 'abc': 123}

In [57]:
dic2={'list':[1,2,3]}
dic.update(dic2)

In [58]:
dic

{'key1': 'java', 90: 'online course', 'abc': 123, 'list': [1, 2, 3]}

In [68]:
# prepare a dictionary of square values of no.s from 1 to 11
sqs={}
for num in range(1,11):
    sqs[num]=num**2
sqs

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [60]:
2**2

4

In [62]:
4**2

16

In [63]:
4**2

16

In [64]:
4**4

256

In [65]:
4**3

64

In [66]:
4*4

16

In [67]:
4**2

16

In [70]:
# prepare a dictionary of characters from A to K with their ascii values
ch={}
for i in range(97,108):
    ch[chr(i)]=i
    
print(ch)

{'a': 97, 'b': 98, 'c': 99, 'd': 100, 'e': 101, 'f': 102, 'g': 103, 'h': 104, 'i': 105, 'j': 106, 'k': 107}

In [71]:
chrs={A:65,B:66...K:76}

SyntaxError: invalid syntax (<ipython-input-71-8e34af4bc4f1>, line 1)

In [72]:
chars={}
for ch in range(ord('A'),ord('L')):
    chars[chr(ch)]=ch
chars

{'A': 65,
 'B': 66,
 'C': 67,
 'D': 68,
 'E': 69,
 'F': 70,
 'G': 71,
 'H': 72,
 'I': 73,
 'J': 74,
 'K': 75}

In [73]:
# prepare a dictionary of vowels with their ascii values present in that stringin 
st=input()
vowels_dic={}
vowels='aeiouAEIOU'
for ch in st:
    if ch in vowels:
        vowels_dic[ch]=ord(ch)
vowels_dic

Hi I am Ruthu from APSSDC

{'i': 105, 'I': 73, 'a': 97, 'u': 117, 'o': 111, 'A': 65}

In [74]:
st=input()
vowels={}
for ch in st:
    if ch=='a' or ch=='e' or ch=='i' or ch=='o' or ch=='u':
        vowels[ch]=ord(ch)
vowels

Hi I am a pytHON TRAINer in apssdc

{'i': 105, 'a': 97, 'e': 101}

In [75]:
# print the multiplication table using while loop
# print prime no.s present in a given range using while loop

In [76]:
nth mutliplication table-->6,9,12,100,89
3x1=3
3x2=6
3x3=9
3x4=12
...3x20=60

SyntaxError: invalid syntax (<ipython-input-76-a03dd0811d3d>, line 1)

In [77]:
num=int(input()) # 9
i=1
while i<11:
    print(num,'*',i,'=',num*i)
    i+=1
# condition based iteration

9
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90

In [78]:
n=int(input()) # constant
for num in range(1,21):
    print(n,'x',num,'=',n*num)

9
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
9 x 11 = 99
9 x 12 = 108
9 x 13 = 117
9 x 14 = 126
9 x 15 = 135
9 x 16 = 144
9 x 17 = 153
9 x 18 = 162
9 x 19 = 171
9 x 20 = 180

In [80]:
lwr=int(input())
hr=int(input())
lw=lwr
while lw<=hr:
    i=1
    count=0
    while i<lw+1:
        if lw%i==0:
            count+=1
        i+=1
    if count is 2:
        print(lw)
    lw+=1

2
30
2
3
5
7
11
13
17
19
23
29

In [81]:
#prepare a menu card
# develop contact application

In [82]:
idly:20
roti:25
dosa:25
meals:50
you have to place an order 
pay the bill

SyntaxError: invalid syntax (<ipython-input-82-e71146570a6f>, line 5)

In [84]:
#contacts application 
create contact
delete
edit
search

SyntaxError: invalid syntax (<ipython-input-84-490796406ace>, line 1)

In [85]:
dic={'idly':20,'roti':25,'dosa':25,'meals':50}
for key,val in dic.items():
    print(key,val,sep=":")    
print('Visit again')

idly:20
roti:25
dosa:25
meals:50
Visit again

In [3]:
#Menu Card
menu={'Idly':20,'Dosa':25,'Roti':25,'Chapati':30,'Gaare':20,
      'Pulihora':40,'Fried Rice':50,'Noodles':40,'Plate Meals':50,'Full Meals':70,
     'Tea':10,'Coffee':15,'Cool Drink':20}
print('Items available...\n')
for item,price in menu.items():
    print(item,'Rs/-',price)
bill=0
items=input('Give your order:').split(',')
for item in items:
    if item in menu.keys():
        bill+=menu[item]
    elif item not in menu.keys():
        print('Sorry!',item,'not available')
print('Your bill=','Rs',bill,'/-')

Items available...

Idly Rs/- 20
Dosa Rs/- 25
Roti Rs/- 25
Chapati Rs/- 30
Gaare Rs/- 20
Pulihora Rs/- 40
Fried Rice Rs/- 50
Noodles Rs/- 40
Plate Meals Rs/- 50
Full Meals Rs/- 70
Tea Rs/- 10
Coffee Rs/- 15
Cool Drink Rs/- 20
Give your order:Fried Rice,Gaare
Your bill= Rs 70 /-

In [2]:
menu={'idly':20,'roti':25,'dosa':25,'meals':50}
print('Items available')
for key,val in menu.items():
    print(key,val,sep=':')
n=input('give your order').split(',')
bill=0
for i in n:
    bill+=menu[i]
print('Your bill is:',bill)

Items available
idly:20
roti:25
dosa:25
meals:50
give your orderroti,idly
Your bill is: 45

In [4]:
list = ['idly:20rs','roti:25rs','dosa:25rs','meals:50rs']
x = input('you want to eat someting(y/n)').strip().lower()
bill = 0
if x=='y':
    print(f'this is our list of food iteams {list}, please select which one you want to eat')
    i = input('you want to eat some thing in the list (y/n)').strip().lower()
while i == 'y':
    iteam = input('enter the iteam name with out any mistakes and shortforms ').strip().lower()
    if iteam == 'idly':
      print('please take your order have a good day ')
      bill += 20
      i = input('would you like order more things (y/n) ').strip().lower()
    elif iteam == 'roti':
      print('please take your order have a good day ')
      bill += 25
      i = input('would you like order more things (y/n) ').strip().lower()
    elif iteam == 'dosa':
      print('please take your order have a good day ')
      bil += 25
      i = input('would you like order more things (y/n) ').strip().lower()
    elif iteam == 'meals':
      print('please take your order have a good day ')
      bil += 50
      i = input('would you like order more things (y/n) ').strip().lower()
    else:
      print('please select the food iteam , which is in the list ')
    print('your bill is ',bill)

you want to eat someting(y/n)y
this is our list of food iteams ['idly:20rs', 'roti:25rs', 'dosa:25rs', 'meals:50rs'], please select which one you want to eat
you want to eat some thing in the list (y/n)y
enter the iteam name with out any mistakes and shortforms idly
please take your order have a good day
would you like order more things (y/n) y
your bill is  20
enter the iteam name with out any mistakes and shortforms roti
please take your order have a good day
would you like order more things (y/n) n
your bill is  45

In [5]:

menu={'idly':20,'roti':25,'dosa':25,'meals':50}
print('Items available')
for key,val in menu.items():
    print(key,val,sep=':')
n=input('give your order:').split(',')
bill=0
for i in n:
    if i in menu.keys():
        bill+=menu[i]
    else: 
        print('sorry!',i,'not available')
print('Your bill is:',bill)

Items available
idly:20
roti:25
dosa:25
meals:50
give your order:meals,Roti
sorry! Roti not available
Your bill is: 50

In [35]:
# contact application
contacts={}
def add_contact(name,phone):
    if name in contacts:
        print('contact',name,'exist')
    else:
        contacts[name]=phone
        
#add_contact
def edit_contact(name):
    if name in contacts:
        print(name,contacts[name],sep=":")
        new=int(input('New mobile number:'))
        contacts[name]=new
        print('Contact',name,'updated')
    else:
        print("contact doesn't exist")
        
def search_contact(name):
    if name not in contacts:
        print("Contact doesn't exist")
    else:
        print(name,contacts[name],sep=":")
        
def delete_contact(name):
    if name in contacts:
        contacts.pop(name)
        print('Contact deleted')
    else:
        print("Contact doesn't exist")

In [36]:
contacts

{}

In [37]:
add_contact('Ruthu',9876543210)

In [38]:
contacts

{'Ruthu': 9876543210}

In [39]:
add_contact('Ashok',7013340072)

In [40]:
contacts

{'Ruthu': 9876543210, 'Ashok': 7013340072}

In [41]:
add_contact('Ashok',7013340072)

contact Ashok exist

In [42]:
add_contact('B',11098655453)

In [43]:
contacts

{'Ruthu': 9876543210, 'Ashok': 7013340072, 'B': 11098655453}

In [44]:
search_contact('Ruthu')

Ruthu:9876543210

In [45]:
edit_contact('Ruthu')

Ruthu:9876543210
New mobile number:8500602294
Contact Ruthu updated

In [46]:
contacts

{'Ruthu': 8500602294, 'Ashok': 7013340072, 'B': 11098655453}

In [47]:
delete_contact('B')

Contact deleted

In [48]:
contacts

{'Ruthu': 8500602294, 'Ashok': 7013340072}