#### Identity operators
- is/is not

In [1]:
num,num2=10,13
num is num2

False

In [2]:
num is not num2

True

In [3]:
id(num)

1439226224

In [4]:
id(num2)

1439226272

In [5]:
x=y=20
x is y

True

In [6]:
x is not y

False

In [7]:
id(x)

1439226384

In [8]:
id(y)

1439226384

In [9]:
'a' is 'A' # similarity/identity

False

In [10]:
'a' is chr(92)

False

In [11]:
chr(65)

'A'

In [12]:
chr(91)

'['

In [13]:
chr(93)

']'

In [14]:
ord('a')

97

In [15]:
chr(97)

'a'

In [16]:
'a' is chr(97)

True

In [17]:
97 is ord('a')

True

In [18]:
97 is not ord('a')

False

In [19]:
10 is not 9 #

True

In [20]:
10 is 'ruthu' # English language

False

In [21]:
'Universal College' is not 'IIIT'

True

In [22]:
'ruthu' is not 'APSSDC'

True

In [28]:
9 is not int()

True

In [27]:
9 is not str()

True

In [26]:
9 is int()

False

#### Membership operator
- in/not in

In [29]:
st='name'
'a' in st

True

In [30]:
'o' in st

False

In [32]:
'b' not in st

True

In [33]:
s=input()
'u' in s

I am someone from APSSDC

False

### Conditional Statements
- A statement with some condition in our program
- Ex: if,elif and else
- Syntax:
    - if (condition):
        - statements/lines
    - else if(elif) condition:
        - statements
    - else:
        - statements

In [39]:
# write a program to print 'yes' if ch in st
ch='s'
st='summer online course'
if ch in st:
    print('Yes')

Yes

In [40]:
# write a program to print 'yes' if ch in st
ch='b'
st='summer online course'
if ch in st:
    print('Yes')

In [41]:
# what if ch is not there in st---> 'Not exist'
if ch in st:
    print('Yes')
else:print('Not exist')

Not exist

In [42]:
if ch not in st:
    print('Not exist')

Not exist

In [43]:
word=input()
stn=input()
if word in stn:
    print('Exist')
else:
    print('No')

python
progamming language
No

In [5]:
# read 3 no.s from the user and print the larger one
first=int(input())
second=int(input())
third=int(input())
if first>=second and first>=third:
    print('first is larger',first)
elif second>=first and second>=third:
    print('second is larger',second)
else:print('third is larger',third)

100
80
50
first is larger 100

In [6]:
# string from the user and you have to print
# digits:..
# chars:..
# 'a1b2c3d4course'
# digits:1 2 3 4
# chars:a b c d c o u r s e

In [7]:
#read a ch from the user and print the corresponding ans
ch='a'
# a to z/A to Z--> alphabet
#*&6%$#@-->special char
# 0 to 9-->digit/number

In [8]:
# year is leacp or not
# even or not

In [12]:
year=int(input())
# all the centuries are not leap year
if (year%4==0) or (year%400==0 and year%100!=0):
    print('leap year')
else:print('Not leap')

2020
leap year

In [14]:
# even or odd
n=int(input())
if n%2==0:
    print('even')
else:print('odd')

58
even

In [15]:
# ch is vowel/consonant
char=input()
if char is 'a' or char is 'e' or char is 'i' or char is 'o' or char is 'u':
    print('voel')
else:print('Consonant')

h
Consonant

In [16]:
# ch is vowel/consonant
char=input()
if char == 'a' or char == 'e' or char == 'i' or char == 'o' or char is 'u':
    print('voel')
else:print('Consonant')

y
Consonant

In [18]:
# ch is vowel/consonant by using their ascii values (tmrw)
char=input()
if char is 'a' or char is 'e' or char is 'i' or char is 'o' or char is 'u':
    print('vowel')
else:print('Consonant')

o
vowel

#### range()
- which stores a range of values/characters
- syntax:
    - range(stop)
    - range(lw,up)
    - range(lw,up,step_count)
- lower bound is inclusive and upper bound is exclusive

In [ ]:
#0 to 100==var

In [21]:
rn=range(11) # 0 to 10
for num in rn:
    print(num)

0
1
2
3
4
5
6
7
8
9
10

### Iterating/Looping statments
- a statement which is repeating multiple times
- For and while
- **For**:
    - syntax:
        - for iterator in iterable:
            - statements
        - for iterator in range(len(iterable)-1):
            - statements
     - default increment is 1
     - decrement the user has to provide
- **while**:
    - Syntax:
        - while condition:
            - statements
     - increment also should be given the user/developer

In [22]:
#rn-->0 to 10

range(0, 11)

In [23]:
for dig in rn:
    print(dig)

0
1
2
3
4
5
6
7
8
9
10

In [24]:
# 50 to 90
nums=range(50,90) # 90 is exclusive
for num in nums:
    print(num,end=" ") # num and ending print() with space

50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89

In [28]:
# print alternate no.s in this range
nums_step=range(20,80,2) # skipping value/gap
for num in nums_step:
    print(num)

20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78

In [31]:
# multiples of 3 in given range
# 3,6,9,12,etc..
# read the range from user
lw=int(input())
up=int(input())
for num in range(lw,up+1,3):
    print(num,end=" ")

1
16
1 4 7 10 13 16

num%3=0-->9
num*3-->3,6,9,12

In [33]:
# multiples of 3 in given range
# 3,6,9,12,etc..
# read the range from user
lw=int(input())
up=int(input())
for num in range(lw,up+1,3):
    print(num,end=" ")

0
16
0 3 6 9 12 15

In [34]:
for num in range(lw,up+1):
    if num%3==0:
        print(num,end=" ")

0 3 6 9 12 15

In [52]:
ns=range(97,109)
for num in ns:
    print(chr(num),end=" ")

a b c d e f g h i j k l

In [48]:
chr(97)

'a'

In [49]:
ord('a')

97

In [61]:
chars=range(chr(65),chr(80))
#using the integer value we are accessing the string type
for ch in range(1,len(chars)+1):
    print(ch)

TypeError: 'str' object cannot be interpreted as an integer

In [55]:
ord('a')

97

In [56]:
ch=ord('A')
print(ch)

65

In [57]:
ch=chr(65)
print(ch)

A

In [65]:
char=range(ord('A'),ord('Z'))
for ch in char:
    print(chr(ch),end=" ")

A B C D E F G H I J K L M N O P Q R S T U V W X Y

In [63]:
ord('i')

105