# Data Structures

- It is a way of organizing the data
- 4 types in python
    - Tuple
    - List
    - Set and
    - Dictionary
- Storing the data in a perticular manner

In [ ]:
variable=""/int/float

### Tuple
- It is a collection/group of data elements/items
- represeted by (,)
- immutable in nature
    - we can't manipulate the data
- pre defined functions in tuple
    - count()
    - index()

In [6]:
t=(12,89,'hello','hey',90.67,75644.45)
print(t)

(12, 89, 'hello', 'hey', 90.67, 75644.45)

In [7]:
# retrieve/print all the data elements from t
for ele in t:
    print(ele)

12
89
hello
hey
90.67
75644.45

In [10]:
for ele in range(0,len(t)):
    print(t[ele])

12
89
hello
hey
90.67
75644.45

In [11]:
t

(12, 89, 'hello', 'hey', 90.67, 75644.45)

In [12]:
t[2]# hello # forward starts from 0 to len(iterable)-1

'hello'

In [13]:
t[-4]# -1 to -infinite

'hello'

In [14]:
 t[5]

75644.45

In [15]:
t[-1]

75644.45

In [16]:
# 89 to 'hey'
t[1:4] # excluding  # forward

(89, 'hello', 'hey')

In [17]:
# using backward indexing
t[-1]

75644.45

In [18]:
t[-2]

90.67

In [19]:
t[-3]

'hey'

In [20]:
t[-4]

'hello'

In [21]:
t[-5]

89

In [22]:
t[-6]

12

In [23]:
t[-7]

IndexError: tuple index out of range

In [24]:
t[-5:-2]

(89, 'hello', 'hey')

In [25]:
t[-2]

90.67

In [26]:
t

(12, 89, 'hello', 'hey', 90.67, 75644.45)

In [27]:
t.add('perticular')

AttributeError: 'tuple' object has no attribute 'add'

In [28]:
t[5]

75644.45

In [30]:
t[6]='new element'

TypeError: 'tuple' object does not support item assignment

In [31]:
# tuple methods
t.count('hey') # no.of occurences of 'hey'

1

In [37]:
t2=(12,34,56,12,78,90,12,90)
t2.count(12)

3

In [38]:
t2.index(78)

4

In [39]:
t2.index(12)

0

In [40]:
t2.count(90)

2

In [41]:
t2.index(90)

5

In [44]:
t.remove()

AttributeError: 'tuple' object has no attribute 'remove'

In [45]:
t2.count(12)

3

In [50]:
# print the vowels separately present in the string read from the user
# Summer Online Training Program
# lower case vowels:u i a i etc
# upper case vowels:O 
course=input()
def print_vowels(course):
    for ch in course:
        if ch=='a' or ch=='i' or ch=='o' or ch=='u' or ch=='e' or ch=='A' or ch=='E' or ch=='I' or ch=='U' or ch=='O':
            print(ch,end=" ")
print_vowels(course)

Summer Online Training Program
u e O i e a i i o a

In [47]:
t3='Summer Online Training Programm' # dynamic reading
for i in t3:
    if(i.isupper()):
        print('upper:',i,end=" ")
    else:
        print('lower:',i,end=" ")
# upperones separately 
# lower seaparately

upper: S lower: u lower: m lower: m lower: e lower: r lower:   upper: O lower: n lower: l lower: i lower: n lower: e lower:   upper: T lower: r lower: a lower: i lower: n lower: i lower: n lower: g lower:   upper: P lower: r lower: o lower: g lower: r lower: a lower: m lower: m

In [48]:
def Check_Vow(string, vowels): 
    final = [each for each in string if each in vowels]  # list comprehensprint(len(final)) 
    print(final) 
string = "Summer Online Training Program"
vowels = "AaEeIiOoUu"
Check_Vow(string, vowels);

['u', 'e', 'O', 'i', 'e', 'a', 'i', 'i', 'o', 'a']

In [56]:
vowels=('a','e','i','o','u','A','E','I','O','U')
def vowels_separate(course):
    print('lower case vowels',end=":")
    for ch in course:
        if ch in vowels:
            if ch.islower():
                print(ch,end=" ")
    print()
    print('upper case vowels',end=":")
    for ch in course:
        if ch in vowels:
            if ch.isupper():
                print(ch,end=" ")
vowels_separate(course)

lower case vowels:u e i e a i i o a
upper case vowels:O

In [57]:
# lower vowels:
# upper vowels:
# lower consonants
# upper consonant

In [63]:
vowels=('a','e','i','o','u','A','E','I','O','U')
def vowels_separate(course):
    print('lower case vowels',end=":")
    for ch in course:
        if ch in vowels:
            if ch.islower():
                print(ch,end=" ")
    print()
    print('upper case vowels',end=":")
    for ch in course:
        if ch in vowels:
            if ch.isupper():
                print(ch,end=" ")
    print()         
    for ch in course:
        if ch not in vowels:
            if ch.islower():
                print(ch,end=" ")
    print()
    for ch in course:
        if ch not in vowels:
            if ch.isupper():
                print(ch,end=" ")
vowels_separate(course)

lower case vowels:u e i e a i i o a
upper case vowels:O
m m r n l n r n n g r g r m
S T P

In [64]:
course

'Summer Online Training Program'

In [69]:
for ch in course:
    if ch.islower():
        if ch in vowels:
            print(ch,end=" ")
print('..................')
for ch in course:
    if ch.isupper():
        if ch in vowels:
            print(ch,end=" ")

u e i e a i i o a ..................
O

### List
- Used to store data/data elements/data items
- collection/group of data ele
- ordered data structure
- mutable in nature
- reprsented by []
- slicing
- predefined methods

In [70]:
li=[12,6,90,'college','summer training',9.34,'89.5667']
li

[12, 6, 90, 'college', 'summer training', 9.34, '89.5667']

In [72]:
# accessing the ele in list
# by using the index
li[3]

'college'

In [73]:
li[2]

90

In [75]:
li[-1]

'89.5667'

In [76]:
li[-2]

9.34

In [77]:
li[2:6]

[90, 'college', 'summer training', 9.34]

In [78]:
li[0:]

[12, 6, 90, 'college', 'summer training', 9.34, '89.5667']

In [79]:
li[:]

[12, 6, 90, 'college', 'summer training', 9.34, '89.5667']

In [80]:
li[::]

[12, 6, 90, 'college', 'summer training', 9.34, '89.5667']

In [81]:
li[0:len(li):2] # step count

[12, 90, 'summer training', '89.5667']

In [83]:
li[0:2]

[12, 6]

In [84]:
li[0:-1] #

[12, 6, 90, 'college', 'summer training', 9.34]

In [85]:
li[-1]

'89.5667'

In [86]:
li

[12, 6, 90, 'college', 'summer training', 9.34, '89.5667']

In [87]:
li[-2]

9.34

In [89]:
for ele in li:
    print(ele)

12
6
90
college
summer training
9.34
89.5667

#### list methods
- predefined methods applied on only strings
- li.clear()
    - empties the list
- li.copy()
    - copy of the list li
- li.remove()
    - removes the perticular ele from the list
- li.pop()
    - removes the last ele from the list
- li.insert()
    - we can add new item to the list
- li.index()
    - index of perticular ele
- li.sort()
    - arranges the list in ascending order
- li.append()
    - we can add any data/data structure to the list
- li.extend()
    - extends the list range
- sum(li)
    - summation of all the values in the list
- min(li)
    - minimum value in the list
- max(li)
    - gives the max ele in the list
- li.count(ele)
    - no.of occurences of that ele
- del li
    - deletes the li from the memory

In [90]:
course

'Summer Online Training Program'

In [91]:
del course

In [92]:
course

NameError: name 'course' is not defined

In [93]:
nums=[34,89,90,50,51,30,94,72,90,50,81]
nums

[34, 89, 90, 50, 51, 30, 94, 72, 90, 50, 81]

In [95]:
nums.pop()

81

In [96]:
nums

[34, 89, 90, 50, 51, 30, 94, 72, 90, 50]

In [97]:
nums.remove(89)

In [98]:
nums

[34, 90, 50, 51, 30, 94, 72, 90, 50]

In [103]:
nums.insert(4,'new') #

In [104]:
nums

[34, 90, 50, 51, 'new', 'new', 'new', 30, 94, 72, 90, 50]

In [105]:
nums.index(72)

9

In [106]:
nums.append('last element')

In [107]:
nums

[34, 90, 50, 51, 'new', 'new', 'new', 30, 94, 72, 90, 50, 'last element']

In [108]:
nums.extend([1,2,3,4])

In [109]:
nums

[34,
 90,
 50,
 51,
 'new',
 'new',
 'new',
 30,
 94,
 72,
 90,
 50,
 'last element',
 1,
 2,
 3,
 4]

In [110]:
nums.append([5,6,7])

In [111]:
nums

[34,
 90,
 50,
 51,
 'new',
 'new',
 'new',
 30,
 94,
 72,
 90,
 50,
 'last element',
 1,
 2,
 3,
 4,
 [5, 6, 7]]

In [112]:
nums

[34,
 90,
 50,
 51,
 'new',
 'new',
 'new',
 30,
 94,
 72,
 90,
 50,
 'last element',
 1,
 2,
 3,
 4,
 [5, 6, 7]]

In [125]:
rn=[23,67,89,10,90,62]
rn

[23, 67, 89, 10, 90, 62]

In [114]:
min(rn)

10

In [115]:
max(rn)

90

In [116]:
sum(rn)

341

In [117]:
rn

[23, 67, 89, 10, 90, 62]

In [118]:
rn.append([1,2,3])

In [119]:
rn

[23, 67, 89, 10, 90, 62, [1, 2, 3]]

In [120]:
rn.extend([5,6])

In [121]:
rn

[23, 67, 89, 10, 90, 62, [1, 2, 3], 5, 6]

In [122]:
rn.clear()

In [123]:
rn

[]

In [124]:
rn[2]

IndexError: list index out of range

In [126]:
rn

[23, 67, 89, 10, 90, 62]

In [127]:
sort(rn)

NameError: name 'sort' is not defined

In [128]:
rn.sort()

In [129]:
rn

[10, 23, 62, 67, 89, 90]

In [130]:
nums

[34,
 90,
 50,
 51,
 'new',
 'new',
 'new',
 30,
 94,
 72,
 90,
 50,
 'last element',
 1,
 2,
 3,
 4,
 [5, 6, 7]]

In [131]:
for item in li:
    print(item)

12
6
90
college
summer training
9.34

In [132]:
for item in nums:
    print(item)

34
90
50
51
new
new
new
30
94
72
90
50
last element
1
2
3
4
[5, 6, 7]

In [133]:
nums.count('last element')

1

In [134]:
nums.count('new')

3

In [136]:
# add two list of ele 
[1,2,3]
[4,5,6]
# [5,7,9] # sum of that 2 lists
[2,3]+[4,5] # extension of list

[2, 3, 4, 5]

In [137]:
a=[1,2,3]
b=[4,5,6]
c=a+b
print(c)

[1, 2, 3, 4, 5, 6]

In [144]:
# read the list of no.s/integers from the user 
# [1,2,3,4]
# find the second largest no. in that list
st=input().split() # 
empty=[]
for ch in st:
    empty.append(int(ch))
empty

87 23 10 93

[87, 23, 10, 93]

In [143]:
A=[ ]
for i in range (1,4):
    Ip=input()
    I=int(lp)
    A.append(l)

6

NameError: name 'lp' is not defined