In [2]:
# read n space separated integers and add them
nums=input().split() # 
li=[]
for num in nums:
    li.append(int(num))
print(li)
sum(li)

1 2 3 4 5
[1, 2, 3, 4, 5]

15

In [3]:
# sum of middle digits of every num in a seq of no.s
# 234 567 980 194 754-->i/p
# 3+6+8+9+5-->o/p

In [4]:
3+6+8+9+5

31

In [20]:
st=input().split(" ")
s=0
for num in st:
    #print(num)
    s+=int(num[1])
s

234 567 980 194 754

31

In [16]:
s[0]

'123'

In [17]:
s[0][1]#-->numpy

'2'

In [29]:
repeated=[12,34,56,12,89,90,3]
# unq list of numbers-->[1,2,3,4,5,6]

unq=[]
for num in repeated:
    if num not in unq:
        unq.append(num)
unq

[12, 34, 56, 89, 90, 3]

In [28]:
l=[int(x) for x in input().split()] # list comprehension
r=[]
for i in l:
    if(i not in r):
        r.append(i)
print(r)

12 34 56 89 90 23 50 12 34
[12, 34, 56, 89, 90, 23, 50]

In [8]:
def print_all(st):
    vowels='aeiouAEIOU'
    up_vowels=''
    for ch in st:
        if ch in vowels:
            if ch.islower():
                print(ch,end=" ")
                continue 
            else:
                print(ch,end=" ")
print_all(input())

Hi I am Ruthu
i I a u u

In [34]:
s='trainer'
for ch in 'hurut':
    s+=ch
    print(s)

trainerr
trainerru
trainerrut
trainerruth
trainerruthu

In [36]:
li=[1,2,3]
li2=[4,5,6]
li3=[]
# li3=[5,7,9]
for num,num2 in zip(li,li2):
    li3.append(num+num2)
li3

[5, 7, 9]

In [48]:
# factorial of primes no.s present in the series..
# 12 11 19 89 50 94 14-->11 19
def is_prime(num):
    count=0
    for dig in range(1,num+1):
        if num%dig==0:# division condition
            count+=1
    if count==2:
        return 1
    else:return 0
    
def factorial(n):
    fact=1
    for num in range(n,0,-1):
        fact*=num
    return fact
    
#is_prime(13)
print('printing the factorials of primes')
seq=input().split()
for num in seq:
    if is_prime(int(num)):
        print(num,factorial(int(num)),sep=":")

printing the factorials of primes
5 7 12 15
5:120
7:5040

In [44]:
#5!-->5x4x3x2x1=120


factorial(4)

24

In [45]:
factorial(1)

1

In [49]:
# prime no.s--.
factors=0
#6-->1,2,3-->not a prime
#5--1 & 5--prime
1)6(--0
    2)6(--0
        3)6(--0
            4)6(--2
                5)6(--1
                    6)6(--0

SyntaxError: invalid syntax (<ipython-input-49-04c34b2abb57>, line 5)

In [50]:
# min sum and max sum of list(dynamic)
# 12 34 59 90 13 67 909876 5678 3456 34567 0987 1234-->
#

In [51]:
n=input().split()
li=[]
for i in n:
    li.append(int(i))
li.sort()
print(sum(li[0:4]))
print(sum(li[-4: ]))

12 89 09876 3456 7898 19876 5467 3456
7013
43117

### sets
- well defined collection of data/elements
- {}
- eleminates the duplicate data

In [52]:
s={12,34,90,'Hey','hi',78,90}
s

{12, 34, 78, 90, 'Hey', 'hi'}

In [53]:
ord('H')

72

In [54]:
ord('h')

104

In [55]:
unq

[12, 34, 56, 89, 90, 3]

In [56]:
repeated

[12, 34, 56, 12, 89, 90, 3]

In [57]:
unq

[12, 34, 56, 89, 90, 3]

In [58]:
set(repeated)

{3, 12, 34, 56, 89, 90}

#### set methods
- subset()
- superset()
- disjoint()
- union()
- intersection()
- difference()
- etc..

In [60]:
nums=[1,3,2,4,5,6,7,10,1,3,4] # random
#s1=1+2+3+4=10 # min sum
#s2=10+7+6+5=28# max sum
#s3=2+3+5+10=20
nums.sort()
nums

[1, 1, 2, 3, 3, 4, 4, 5, 6, 7, 10]

In [ ]:
min_sum=sum(nums[0:4])
max_sum=sum(nums[-4:])